body{
    background-image: url(images/miming.jpg);
    background-size: cover;

}

h1 {
    color: blue;
    text-decoration: underline;
    text-align: center;
}
p {
    color: red;
}

.patotoya{
    color: blue;
}

.pb{
    color: green;
    border: 2px solid red;
    width: fit-content;
    background-color: aquamarine;
}